### Correlation
#### When presented with a new collection of data, one of the first questions you may ask is how they are related to each other. This can involve deep study of how one parameter islikely to vary as you change another but the simplest start is to look at the linear correlation between them.

#### Correlation is usually taught as being the degree to which two variables are linearly related, that is as one increases, on average how much does the other one increase. This is a useful measure because it's easy to calculate and most data only have either linear relationships or no relationship at all.

#### At its core, Correlation is a measure of how related two data sets are.

In [1]:
import numpy as np
from pandas import DataFrame

In [2]:
a = np.arange(100)
b = np.arange(100) * 2
df = DataFrame({"a": a, "b": b}) # Use dictionary in order to be able to take tis values and place them in colums with column names.
df.head()

   a  b
0  0  0
1  1  2
2  2  4
3  3  6
4  4  8

In [3]:
df.describe() # gives you basic statistics about how much values there is

                a           b
count  100.000000  100.000000
mean    49.500000   99.000000
std     29.011492   58.022984
min      0.000000    0.000000
25%     24.750000   49.500000
50%     49.500000   99.000000
75%     74.250000  148.500000
max     99.000000  198.000000

In [4]:
df.corr() # Get the correlation with diagonal terms of 1 if pperfectly correlated

     a    b
a  1.0  1.0
b  1.0  1.0

In [5]:
a = np.arange(100)
c = np.arange(100) * -2
df = DataFrame({"a": a, "c": c}) # Use dictionary in order to be able to take tis values and place them in colums with column names.
df.head()

   a  c
0  0  0
1  1 -2
2  2 -4
3  3 -6
4  4 -8

In [6]:
from sklearn.datasets import fetch_california_housing

In [7]:
housing_data = fetch_california_housing()

Downloading Cal. housing from https://ndownloader.figshare.com/files/5976036 to C:\Users\Admin\scikit_learn_data

In [8]:
housing = DataFrame(housing_data.data, columns = housing_data.feature_names)
housing.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [9]:
corr = housing.corr()

In [10]:
corr["MedInc"]  ["AveRoom"]

KeyError: 'AveRoom'

In [ ]:
import seaborn as sns

cmap = sns.diverging_palette(10, 255, as_cmap = True)
sns.heamap(corr, cmap = cmap)

In [ ]:
from pandas.plotting import scatter_matrix

a = scatter_matrix(housing, figsize = (16, 16))