# Introduction to Data Analysis in Python

## Working with pandas

In [66]:
from pandas import Series

## Series
### _A series is a one-dimensional list of data with numpy as an underlying package to make it run really fast_

In [67]:
Series([14, 7, 3, -7, 8])

0    14
1     7
2     3
3    -7
4     8
dtype: int64

In [68]:
Series([14, 7, 3, -7, 8], index = ["a","b", "c", "d", "e"])

a    14
b     7
c     3
d    -7
e     8
dtype: int64

In [69]:
s = Series([14, 7, 3, -7, 8], index = ["a","b", "c", "d", "e"])

In [70]:
s["a"]

14

In [71]:
s

a    14
b     7
c     3
d    -7
e     8
dtype: int64

### _Exercise create a Series with numbers as values and years as index_

In [72]:
b = Series([10, 20, 30, 40, 50], index = ["2001", "2002", "2003", "2004", "2005"])

In [73]:
b

2001    10
2002    20
2003    30
2004    40
2005    50
dtype: int64

#### Difference between a Series and a Dict 
##### - Series is Ordered where Dicts are not
##### - Series can have repeated indices
##### - The data inside is stored with a dtype which makes things easier

#### Similarities between Series and List
##### - The data inside both has an order
##### - Can index by integer

#### Difference between Series and List
##### - Even though Series can be indexed by integer, the index does not denote position
##### - Series can index any kind of key in principle
##### - The data inside a Series is stored with a dtype which makes things faster

#### Series Operation

In [74]:
my_list = [3, 6, 8, 4, 10]

In [75]:
my_list*2

[3, 6, 8, 4, 10, 3, 6, 8, 4, 10]

In [76]:
s1 = Series(my_list)

In [77]:
s1 - 2

0    1
1    4
2    6
3    2
4    8
dtype: int64

In [78]:
s1 > 6

0    False
1    False
2     True
3    False
4     True
dtype: bool

In [79]:
s1.values # only display values as an array

array([ 3,  6,  8,  4, 10], dtype=int64)

In [80]:
s

a    14
b     7
c     3
d    -7
e     8
dtype: int64

In [81]:
s > 4 # displays a true or false boolean for all values

a     True
b     True
c    False
d    False
e     True
dtype: bool

In [82]:
s[ (s * 2) > 4 ] # Displays all values greater than 4 when multiplied by 2

a    14
b     7
c     3
e     8
dtype: int64

### How to do things between 2 or more Series

In [83]:
s2 = Series([23, 5, 34, 7, 5])
s3 = Series([7, 6, 5, 4, 3])

In [84]:
s2 - 5 #subtracts 5 from each value in Series

0    18
1     0
2    29
3     2
4     0
dtype: int64

In [85]:
s2 - s3 # if you got two series with the same number of elements subtracts each each element from the corresponding series

0    16
1    -1
2    29
3     3
4     2
dtype: int64

In [86]:
s2 = Series([23, 5, 34, 7, 5])
s3 = Series([7, 6, 5, 4])

In [87]:
s2 - s3

0    16.0
1    -1.0
2    29.0
3     3.0
4     NaN
dtype: float64

#### NaN = not a number, it's of type Float becausethey have to be of same data type and there's no Integer NaN but Float doe accommodate NaN